# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Platform.vcxproj.user
x64/Release/Platform.Build.CppClean.log
x64/Release/Platform.exe.recipe
x64/Release/Platform.iobj
x64/Release/Platform.ipdb
x64/Release/Platform.log
x64/Release/Platform.tlog/CL.command.1.tlog
x64/Release/Platform.tlog/CL.read.1.tlog
x64/Release/Platform.tlog/CL.write.1.tlog
x64/Release/Platform.tlog/link.command.1.tlog
x64/Release/Platform.tlog/link.read.1.tlog
x64/Release/Platform.tlog/link.write.1.tlog
x64/Release/Platform.tlog/Platform.lastbuildstate
x64/Release/Platform.vcxproj.FileListAbsolute.txt
x64/Release/vc143.pdb
*.recipe
*.ilk
*.tlog
*.pdb
*.idb
*.log
/x64/Debug/Platform.vcxproj.FileListAbsolute.txt
